// defaults
$default-font-family : 'Proxima Nova', 'Helvetica', sans-serif;
$default-color-app-background: #2a2f30;
$default-color-app-text: white;

// Utils
@import "utils/reset";
@import "utils/mixins";
@import "utils/functions";
@import "utils/extendables";

// Globals
@import "commons/base";

// Components
@import "components/App";
@import "components/Header";
@import "components/Welcome";
@import "components/GameOver";
@import "components/GameResults";
@import "components/GameProgress";
@import "components/ProgressBar";
@import "components/QuestionForm";
@import "components/AnsweredQuestion";
@import "components/InputRadio";
@import "components/Button";
