
html {
  @include optimize-legibility;
  background-color: $default-color-app-background;
  font-family: $default-font-family;
  font-size: 100%;
}

body {
  @include optimize-legibility;
  background-color: $default-color-app-background;
  color: $default-color-app-text;
  font-family: $default-font-family;
}

button,
input {
  font-family: $default-font-family;
}

a,
button,
input {
  @include optimize-legibility;
  outline: none;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}
