.answered-question-component {

  text-align: center;
  border-top: 1px solid #435257;
  padding: 24px 0;

  .question-text {
    font-size: 18px;
    color: white;
    line-height: 27px;
  }

  .answered-text {

    font-size: 20px;

    .result-correct {
      color: #77b452;
      padding-left: 28px;
      line-height: 28px;
      display: inline-block;
      background: url(../images/components/AnswersList/result-correct.svg) 0 50% no-repeat;
    }

    .result-wrong {
      color: #e8524b;
      padding-left: 28px;
      line-height: 28px;
      display: inline-block;
      background: url(../images/components/AnswersList/result-wrong.svg) 0 50% no-repeat;
    }

    .correct-answer {
      font-size: 18px;
      color: #657679;
    }
  }
}
