.progress-bar-component {

  position: relative;
  background-color: #1d2121;
  height: 22px;
  padding: 3px;
  border-radius: 11px;
  margin: 10px 0;

  & > span {
    content: '';
    position: relative;
    display: block;
    height: 100%;
    border-radius: 8px 0 0 8px;
    width: 50%;
    background-color: #6f7d80;
    transition: 200ms width, 2s background-color;

    &.is-green  { background-color: #77b452; }
    &.is-orange { background-color: #bc9135; }
    &.is-red    { background-color: #e8524b; }
  }
}
