.question-form-component {

  text-align: center;
  padding: 0 0 45px 0;

  .question-text {
    font-size: 30px;
    padding: 45px 0;
  }

  .fieldset {
    margin: 0 auto;
    padding: 0 0 20px 60px;
    width: 400px;

    .input-radio-component {
      float: left;
      width: 50%;
      padding: 0 0 25px 25px;
    }
  }
}
