// Base classes to use with @extend

// Apply clearfix to container of floating blocks
%group {
  &:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// Needed to vertically center the content
%v-wrapper {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

%v-block {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}
